<!DOCTYPE html>
<html>
    <head>
        <title><%=title%></title>
        <script type="text/javascript" src="/../js/jquery-1.10.2.min.js"></script>
        <link rel="stylesheet" href="/../css/style.css">
    </head>
<body>
<div class="data-table">
    <table border="1" cellpadding="7" cellspacing="7">
        <tr>
            <th width="50px">No</th>
            <th>Query</th>
            <th>Country</th>
            <th>Insert Time</th>
            <th>Status</th>
        </tr>
                       
        <% if(data.length){ 
                        
         for(var i = 0;i < data.length;i++) { %>
         
        <tr>
            <td><%=data[i].id%></td>
            <td><%=data[i].query_string%></td>
            <td><%=data[i].country%></td>
            <td><%=data[i].insert_datetime%></td>
            <td><%=data[i].status%></td>
            <td>
                <a class="a-inside edit" href="/api/item/<%=data[i].query_string%>">Results</a>
               
                <a class="a-inside delete" href="javascript:void(0)" onClick="deleteUser(<%=data[i].id%>)">Delete</a>
               
            </td>
        </tr>
    <% }
    
     }else{ %>
         <tr>
            <td colspan="5">No Data</td>
         </tr>
    <% } %>
                                      
    </table>
</div>
<div class="page-data">
    
    <form method="post" action="" id="the-form">
        <table cellpadding="11">
        <tr>
            <td class="label">Query</td><td>: <input type="text" name="Keyword"></td>
         </tr>
         <tr>
            <td class="label"></td>
            <td>
                &nbsp; <input type="button" value="Search on DB" onClick="search()">
            </td>
         </tr>
        </table>
    </form>
</div>
<div class="res">

</div>
<div class="page-data">
     <ul class="err-area"></ul>
</div>

<script>

    function search(){
       
       $.ajax({
        
        url:"/api/item",
        type:"post",
        data:$("#the-form").serialize(),
        success:function(res){
            $(".res").html(res);  

        },
        error:function(xhr, status, error){
            
            console.log(xhr.responseText);
            var err = '';
            $.each(JSON.parse(xhr.responseText) , function(i, item) {
               
                 err +='<li>'+item.msg+'</li>';
            });
            $(".err-area").html(err);    
            return false;
        }
        
       });
    }
    
    function deleteUser(user_id){
    
        $.ajax({
            url:"/api/item/"+user_id,
            type: 'DELETE',
            success: function(res) {
                
                window.location.reload();
                return false;
            },
            error:function(xhr, status, error){
            
                console.log(xhr.responseText);
                alert("Error deleting");
                return false;
            }
        });
    }

</script>
</body>
</html>
